.container {
  display: flex;
  justify-content: space-between;
}

.rectangle {
  width: 300px;
  height: 300px;
  margin-right: 45px; /* расстояние между прямоугольниками */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  border-radius: 30px;
}

dx-box {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

dx-button {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

