<!--<div class="container">
  <div class="rectangle">
    <dx-box style="position: relative;" width="300px" height="300px">
      <dxi-item>
        <dx-button style="position: absolute; bottom: 10px; left: 10px;"  text="Click me" (onClick)="helloWorld()"></dx-button></dxi-item>
    </dx-box>
  </div>
  <div class="rectangle">
    <dx-box style="position: relative;" width="300px" height="300px">
      <dxi-item>
        <dx-button style="position: absolute; bottom: 10px; left: 10px;"  text="Click me" (onClick)="helloWorld()"></dx-button></dxi-item>
    </dx-box>
  </div>
  <div class="rectangle">
    <dx-box style="position: relative;" width="300px" height="300px">
      <dxo-background>
        <dxo-image
          url="2174887.png"
          location="full"
        >
        </dxo-image>
      </dxo-background>
      <dxi-item>
        <dx-button style="position: absolute; bottom: 10px; left: 10px;"  text="Click me" (onClick)="helloWorld()"></dx-button></dxi-item>
    </dx-box>
  </div>

</div>-->

<div class="container">
  <div class="rectangle">
    <dx-box direction="row">
      <dxi-item>
        <dxo-image src="image/smarthome.png"></dxo-image>
        <dx-button text="Кнопка 1" (onClick)="helloWorld()"></dx-button>
      </dxi-item>
    </dx-box>
  </div>
  <div class="rectangle">
    <dx-box direction="row">
      <dxi-item>
        <dxo-image src="image/smarthome.png"></dxo-image>
        <dx-button text="Кнопка 2" (onClick)="helloWorld()"></dx-button>
      </dxi-item>
    </dx-box>
  </div>
  <div class="rectangle">
    <dx-box direction="row">
      <dxi-item>
        <dxo-image src="image/smarthome.png"></dxo-image>
        <dx-button text="Кнопка 3" (onClick)="helloWorld()"></dx-button>
      </dxi-item>
    </dx-box>
  </div>
</div>



